<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Rejestracja</mat-card-title>
    </mat-card-header>
    <form #loginForm = "ngForm" (ngSubmit)="onRegister(loginForm.value)">
      <input type="text" name="username" ngModel placeholder="username"  required>
      <input type="password" name="password" ngModel placeholder="password"  required>
      <input type="text" name="email" ngModel placeholder="email"  required>
      <input type="text" name="role" ngModel placeholder="Role"  required>
      <button type="submit">Log in</button>
    </form>
  </mat-card>
</div>
