<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Class-Connect</mat-card-title>
    </mat-card-header>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input ngModel matInput placeholder="Email" name="email" type="text">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input ngModel matInput placeholder="Hasło" name="password" type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Zaloguj</button>
    </form>
  </mat-card>
</div>
