<main>
  <h2 mat-dialog-title>Dołącz do grupy</h2>
  <mat-dialog-content class="dialog-content">
    <form #joinGroupForm="ngForm" (ngSubmit)="onJoinGroup(joinGroupForm.value)">
      <mat-card-content>
        <section>
          <mat-form-field class="desc">
            <input ngModel matInput placeholder="Nazwa grupy" name="groupName" type="textarea">
          </mat-form-field>
        </section>
        <section>
          <mat-form-field class="desc">
            <input ngModel matInput placeholder="Hasło jeśli wymagane" name="password" type="textarea">
          </mat-form-field>
        </section>
      </mat-card-content>
      <div class="confirm-buttons">
        <button mat-button mat-dialog-close>Anuluj</button>
        <button mat-stroked-button color="accent" [mat-dialog-close]="true" type="submit" cdkFocusInitial>Dołącz</button>
      </div>
    </form>
  </mat-dialog-content>

</main>
